*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
#boxcounter{
  text-align: center;
  margin: 0;
  padding: 5% 6% 10%;
  box-shadow: 0 10px 5px #0005;
  border-radius: 15px;
  background-color: #f4f4f4;
}
#painel{
  font-size: 24pt;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 5%;
}
.grid-item{
  background-color: #f4f4f4;
  margin: 1px;
  padding: 10%;
  height: 40px;
  font-size: 22pt;
}
.grid-item:hover{
  background-color: #fcff5d;
}