*{
  text-align: center;
  margin: 0;
}
#busca {
  padding: 10% 5%;
  background-color: #e6dbea;
}
#busca input, #busca button {
  border: 0;
  padding: 2%;
}
#foto{
  margin-top: 2px;
  padding: 10% 0;
  background-color: #ebebeb;
}
#foto img {
  background-color: #e3b0f4;
  padding: 5%;
  border-radius: 20px;
  box-shadow: 0 5px  10px #6e6e6e;
}