*{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#busca {
  padding: 10% 5%;
  background-color: #e6dbea;
}
#busca input, #busca button {
  border: 0;
  padding: 2%;
}
#maincard{
  margin-top: 2px;
  padding: 10% 0;
  background-color: #ebebeb;
}
#maincard img {
  background-color: #e3b0f4;
  padding: 5%;
  border-radius: 20px;
  box-shadow: 0 5px  10px #6e6e6e;
}
.repositorios ul{
  padding: 0 10%;
  list-style-type: none;
  text-align: left;
}